body {
    /* font-family: 'Orbitron', sans-serif; */
    margin: 0;
    padding: 0;
    height: 100vh;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
    text-emphasis: none;
}

#link {
    text-decoration: none;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
}
