.splashpage__container {
    position: relative;
    /* background-color: white; */
    background-image: url('https://user-images.githubusercontent.com/92604480/174513101-65c69608-408e-41a2-9dfb-a5add8c8325d.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.splash__login__btn {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #fa4c6f;
    color: white;
    font-family: "Sansita";
    font-size: 1.3rem;
    font-weight: bold;
    flex-direction: row;
    margin: 1rem;

}

.splash__image-display-1 {
    position: relative;
    max-width: 1312px;
    width: calc(100% - 128px);
    height: 100%;
    /* background-color: white; */
    overflow-y: hidden;
}

.splash__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
    top: 78px;

}

.splash__title h1 {
    font-size: 4rem;
}

.splash__title p {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash__image-display-2>img {
    width: 30rem;
}

.splash__image-display-3 h2 {
    font-size: 2rem;

}

.splash__image-display-3 p {
    font-size: 1.3rem;

}
