/* .gallery__container {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 60%;
    margin: 2rem auto;
} */

/* .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
} */
.gallery__container h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery__img {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 5fr 3fr 5fr;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-rows: 5fr 3fr 5fr;
    grid-auto-columns: 1fr;
    gap: 20px;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "gallery__image--1 gallery__image--2 gallery__image--3 "
        "gallery__image--4 gallery__image--5 gallery__image--6 "
        "gallery__image--7 gallery__image--8 gallery__image--9 ";
    /* "gallery__image--10 gallery__image--11 gallery__image--12"; */
    /* "gallery__image--1 gallery__image--1 gallery__image--2 gallery__image--2 gallery__image--3 gallery__image--3"
        "gallery__image--1 gallery__image--1 gallery__image--5 gallery__image--5 gallery__image--3 gallery__image--3"
        "gallery__image--4 gallery__image--4 gallery__image--5 gallery__image--5 gallery__image--6 gallery__image--6"
        "gallery__image--7 gallery__image--7 gallery__image--8 gallery__image--8 gallery__image--9 gallery__image--9"
        "gallery__image--7 gallery__image--7 . . gallery__image--9 gallery__image--9"; */

}

.gallery__item--1 {
    grid-area: gallery__item--1;
}

.gallery__item--2 {
    grid-area: gallery__item--2;
}

.gallery__item--3 {
    grid-area: gallery__item--3;
}

.gallery__item--4 {
    grid-area: gallery__item--4;
}

.gallery__item--5 {
    grid-area: gallery__item--5;
}

.gallery__item--6 {
    grid-area: gallery__item--6;
}

.gallery__item--7 {
    grid-area: gallery__item--7;
}

.gallery__item--8 {
    grid-area: gallery__item--8;
}

.gallery__item--9 {
    grid-area: gallery__item--9;
}
