/* .gallery__container {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 60%;
    margin: 2rem auto;
} */

/* .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
} */
.gallery__container h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery__img {
    width: 100%;
    border-radius: 10px;
}

.gallery {
    /* height: 100%;
    width: 100%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 300px 300px;
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
    /* grid-template-rows: repeat(4, minmax(250px, 1fr)); */
    /* --------------------------------------------- */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-columns: 250px 100px 250px; */

    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-rows: 1fr, 1fr; */
    /* grid-auto-columns: 1fr; */
    /* grid-template-rows: masonry; */

    /* ---------------------------------- */



    gap: 20px;
    /* grid-auto-flow: row; */
    grid-auto-flow: dense;
    /* grid-template-areas:
        "gallery__image--1 gallery__image--1 gallery__image--2 gallery__image--3 gallery__image--3"
        "gallery__image--1 gallery__image--1 gallery__image--4 gallery__image--3 gallery__image--3"
        "gallery__image--5 gallery__image--5 gallery__image--6 gallery__image--7 gallery__image--7"
        "gallery__image--5 gallery__image--5 gallery__image--9 gallery__image--7 gallery__image--7"; */
    /* "gallery__image--10 gallery__image--11 gallery__image--12"; */


}


#gallery__item--1 {
    grid-area: gallery__item--1;
    grid-column: 1;
    grid-row: 1 / 2;

}

#gallery__item--2 {
    grid-area: gallery__item--2;
    grid-column: 3;
    grid-row: 3;
}

#gallery__item--3 {
    grid-area: gallery__item--3;
    grid-column: 3 / span 4;
    grid-row: 3 / span 4;
}

#gallery__item--4 {
    grid-area: gallery__item--4;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/*
#gallery__item--5 {
    grid-area: gallery__item--5;
}

#gallery__item--6 {
    grid-area: gallery__item--6;
}

#gallery__item--7 {
    grid-area: gallery__item--7;
}

#gallery__item--8 {
    grid-area: gallery__item--8;
}

#gallery__item--9 {
    grid-area: gallery__item--9;
} */
