.navbar__container {
    /* margin: 0 auto; */
    /* padding: 10em 3em; */
    text-align: center;
}

.navbar__container img {
    width: 10rem;
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbar__logo p {
    font-size: 35px;
    font-weight: 600;
}

.navbar__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 20px; */
}

.navbar__right .navbar__icons {
    display: flex;
    justify-content: flex-end;
    padding-left: 2rem;
    /* align-items: center; */
    /* gap: 50px; */

}

/* .navbar-logout__btn {
    background: none;
    border: none;
} */

/*
.navbar__logo {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 200px, 0);
    }
} */
